<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streaming example app</title>
    <script language="javascript" src="bundle.js"></script>
</head>
<body>

    <h1>Streaming example app</h1>

    <div class="wrapper">
        <div id="container"></div>
    </div>

</body>
</html>